@import "./utilities/variables";

footer nav {
    background-color: $grey-background;
        ul li a h3{
            text-decoration: none;
            :hover{
                color: $font-grey-hover;
            }
        }
}

.justifyText {
    text-align: $justify center;
}

a:active {
    color: $font-grey-hover;
}

main div p:hover {
    color: $font-grey-hover;
    
}

// EXTEND / MAP / MIXIN

@mixin cardProp ($background,$textAlign,$fontSz){
    background-color: $background;
    text-align: $textAlign;
    font-size: $fontSz ;
}

.cardBorder {
    border: map-get($cardExt, border);
    margin: map-get($cardExt, margin);
    border-radius: map-get($cardExt, padding);
}   
.cardExt {
    @extend .cardBorder;
    @include cardProp(rgb(208, 208, 208),center,small);
    justify-content: $justify center;
}




