$white-backgroud: white;
$grey-background: rgb(230, 230, 230);
$font-grey-hover: rgb(200, 200, 200) ;

// MAP / VARIABLES

$justify:(center:center,start:start,end:end);

$cardExt:(
    border: 1px,
    margin: 0px,
    padding: 5px,
)